
.vs/GestionReservas/*/Server/sqlite3/storage.ide-shm

.vs/GestionReservas/*/Server/sqlite3/*

GestionReservas/obj/*/DesignTimeResolveAssemblyReferencesInput.cache

GestionReservas/obj/*/GestionReservas.csproj.CoreCompileInputs.cache

GestionReservas/obj/*/GestionReservas.csprojAssemblyReference.cache

*.cache

.vs/*
.vs/*/*
.vs/*/*/*
*.exe

*.pdb

GestionReservas/obj/Debug/gestionReservas.csproj.FileListAbsolute.txt

GestionReservas/GestionReservas.csproj

GestionReservas/*/.DS_Store
GestionReservas/*/*/.DS_Store
.vs/GestionReservas/*/.suo
GestionReservas/bin/*/*
.idea
