
.vs/GestionReservas/v16/Server/sqlite3/storage.ide-shm

.vs/GestionReservas/v16/Server/sqlite3/storage.ide-wal

GestionReservas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

GestionReservas/obj/Debug/GestionReservas.csproj.CoreCompileInputs.cache

GestionReservas/obj/Debug/GestionReservas.csprojAssemblyReference.cache

*.cache

.vs/GestionReservas/v16/.suo

*.exe

*.pdb

GestionReservas/obj/Debug/gestionReservas.csproj.FileListAbsolute.txt

GestionReservas/GestionReservas.csproj

.vs/GestionReservas/v16/Server/sqlite3/storage.ide
